
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three equal-width columns */
  grid-gap: 20px; /* Adds a gap between the columns */
}

.ad-set {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Add margin at the of each ul element */
  border: 1px solid black;
}
.local-card{
  border: 1px solid black;
}

